/* Global Colours */
$main-black:#323232;  
$text-label:#AFAFAF;
$text-field-border:#E1E1E1;
$text-field-bg:#FAFAFA;

$navigation-bg: $main-black; 
$primary-cta-text-link:#004892; 
$primary-cta-hover:#002F5F;
$main-menu-link:#FAFAFA;
$main-menu-active:#ffffff;
$divider:#E1E1E1;


